body {
	text-align: center;
	padding: 150px;
	font: 20px Helvetica,sans-serif;
	color: #333;
	background: url(breastDemo.jpg) no-repeat ;
	background-size:cover;
}

h1 {
	font-size: 50px;
}
#bg-blur {
	width: 700px;
	height: 300px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.9);
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}
#logo {
	position:fixed;
	right: 200px;
	bottom: 100px;
	display: block;
	width: 300px;
	height: 50px;
	background: url("logo_light.png") no-repeat;
	background-size: contain;
}
article {
	position: relative;
	z-index: 2;
	display: block;
	text-align: left;
	width: 650px;
	margin: 0 auto;

}
a {
	color: #dc8100;
	text-decoration:none;
}

