body {
        text-align: center;
        font: 20px Helvetica,sans-serif;
        color: #333;
        background: url("assets/trav.gif") no-repeat ;
        background-size:cover;
}

h1 {
        font-size: 50px;
}
.wrapper {
        display: flex;
        align-items: center;
        height: auto;
        width: 800px;
        margin: 0 auto;
        position: relative;
}
.content {
         z-index: 2;
         display: block;
         text-align: left;
         width: 650px;
         margin: 0 auto;
}
.blur {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(255,255, 255,0.9);
        -webkit-filter: blur(80px);
        -moz-filter: blur(80px);
        -o-filter: blur(80px);
        -ms-filter: blur(80px);
        filter: blur(80px);
        z-index: -1;
}
#logo {
        position:fixed;
        right: 100px;
        bottom: 50px;
        display: block;
        width: 300px;
        height: 50px;
        background: url("assets/logo.png") no-repeat;
        background-size: contain;
}
a {
        color: #dc1600;
        text-decoration:none;
}
